{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container">
    <div class="intro">
        <h1 class="center-align">
            Userfrosting <br>
           <span class="uk-text-muted">Modern user management for php.</span>
       </h1>
    </div>
    <div class="section">
        <p class="flow-text">
            Chances are you're here because you have a great idea for a user-oriented website.
        </p>
        <p class="flow-text">
            Whether it's a private forum for your gaming community, an employee management system for your business, or the next big social network, you want to get started on your awesome new idea as quickly as possible.  You don't want to spend your time reinventing user sign-in and management features for the millionth time.  <em>Lucky for you - Userfrosting delivers all of this and more!</em>
        </p>
        <img src="{{ url('theme://images/frontpage/frontpage.jpg') }}" class="responsive-img">
    </div>
    <div class="section" itemscope itemtype="http://schema.org/WebApplication">
        <h3>
            A framework and an application.
        </h3>
        <p class="flow-text">
            UserFrosting is a web framework for PHP.  Like other web frameworks, it offers a complete toolbox of programmatic components for building your application.
        </p>
        <p class="flow-text">
            Unlike other PHP frameworks, <em> it's a fully-functioning user management application,</em> right out of the box.  And, it's fully extendable so that you can easily create the custom features you need.
        </p>
        <img src="{{ url('theme://images/frontpage/frontpage2.jpg') }}" class="responsive-img">
    </div>
    <div class="section">
        <h3 class="red-text text-lighten-2">
        Step up your game.
        </h3>
        <p class="flow-text">
            UserFrosting is designed to bring new and returning developers up to speed with the modern PHP community.  You'll be comfortably introduced to Composer (the dependency manager), object-oriented design patterns, and the PHP Standards Recommendations (PSR), making your code better structured and easier to manage.
        </p>
        <img src="{{ url('theme://images/frontpage/frontpage3.jpg') }}" class="responsive-img">
        <p class="flow-text">
            What's more, you'll learn how to use Node.js and Bower to cleanly manage client-side packages (Javascript and CSS).  Transform yourself from a code monkey into a software engineer.
        </p

    </div>
    <div class="features section">
        <h3>
        Features
        </h3>
        <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center uk-flex" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h2 class="uk-card-title">Modern Specs</h2>
                    <i class="fa fa-cloud-download fa-5x" aria-hidden="true"></i>
                    <p>
                        90's fashion might be back in style, but 90's development practices are not.  Our detailed installation guide painlessly introduces you to the modern developer's toolkit.
                    </p>
                </div>
            </div>
            <div class="uk-flex-first@s">
                <div class="uk-card uk-card-default uk-card-body">
                        <h2 class="uk-card-title"> Sign-in System</h2>
                        <img src="{{ url('theme://images/features/login.png') }}">
                        <p>Login and persistent sessions ("remember me") are ready out of the box. Basic user functinoality is already taken care of for you!</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h2 class="uk-card-title">Fully extendable</h2>
                    <i class="fa fa-cubes fa-5x" aria-hidden="true"></i>
                    <p>
                        New in version 4, the modular Sprinkle system lets you implement your application without ever modifying UF's core codebase.  Sprinkles can also be used to implement themes, plugins and more - see what our community has to offer!
                    </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h2 class="uk-card-title">Admin user management</h2>
                    <img src="{{ url('theme://images/features/permissions.png') }}">
                    <p>
                      Built-in user management page lets you view, search, and sort your users, create new user accounts, and edit existing ones.  Also provides tools to disable or delete users, manage permissions, and issue password resets.
                    </p>
                </div>
            </div>
            <div class="uk-flex-last@s">
                <div class="uk-card uk-card-default uk-card-body">
                    <h2 class="uk-card-title">Separation of concerns</h2>
                    <i class="fa fa-chain-broken fa-5x" aria-hidden="true"></i>
                    <p>Give the gift of maintainability to your future self, no spaghetti code here.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h2 class="uk-card-title"> Roles and permissions</h2>
                    <img src="{{ url('theme://images/features/users.png') }}">
                    <p>
                        Powerful role-based access control (RBAC) allows you to define fine-grained, programmatic rules for user access, then manage those permissions through the role management page.
                    </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h2 class="uk-card-title">Optimization</h2>
                     <i class="fa fa-fast-forward fa-5x" aria-hidden="true"></i>
                    <p>
                        Define and compile asset bundles with Node.js, leverage caching for template rendering and route resolution, or use Laravel's caching service to cache arbitrary resources.  Just about every component can be optimized for production.
                    </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h2 class="uk-card-title">User dashboards</h2>
                      <i class="fa fa-laptop fa-5x"></i>
                    <p>
                      Build beautiful dashboards for your users with the default AdminLTE theme.
                    </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h2 class="uk-card-title">Documentation</h2>
                    <i class="fa fa-newspaper-o fa-5x" aria-hidden="true"></i>
                    <p>
                       Clear, jargon-free guides for every aspect of the framework.  More than just the "how" and "what" - we explain the "why", too. Get answers fast.
                    </p>
                </div>
            </div>
        </div>
    </div><!-- End features section-->
    <div class="gallery section">
        <h3>
            Built with Userfrosting
        </h3>
        {% include 'partials/gallery.html.twig'%}
    </div>
    <div class="contributors section">
        <h3>
            Contributors
        </h3>
        <article class="uk-article">
            <img src="{{ url('theme://images/bios/alex.png') }}" class="circle responsive-img">
            <h1 class="uk-article-title">Alexander Weissman</h1>
            <p class="uk-article-lead">
                Alex is the founder and co-owner of two companies, one that does <a href="https://bloomingtontutors.com" target="_about:blank">math tutoring at Indiana University</a> in Bloomington, IN and another company that does <a href="https://collegeparktutors.com" target="_about:blank">math tutoring at UMD</a> in College Park, MD. He is a PhD student in the School of Informatics and Computing at Indiana University.
            </p>
        </article>
        <article class="uk-article">
            <img src="{{ url('theme://images/bios/louis.png') }}" class="circle responsive-img">
            <h1 class="uk-article-title">Louis Charette</h1>
            <p class="uk-article-lead">
                 Louis is a civil engineer in Montréal, Québec who also has a passion for coding. He is one of the main contributors for SimpsonsCity.com and likes to share is knowledge by helping others the same way he was helped when he first started coding.
            </p>
        </article>
        <article class="uk-article">
            <img src="{{ url('theme://images/bios/jordan.png') }}" class="circle responsive-img">
            <h1 class="uk-article-title">Jordan Mele</h1>
            <p class="uk-article-lead">
                 Jordan's a developer at Mayvin Training and a student studying Computer Science at the University of Wollongong. His passion is creating software-based solutions to overcomplicated problems, without taking control away from the user. He's also Australian.
            </p>
        </article>
        <article class="uk-article">
            <img src="{{ url('theme://images/bios/mike.png') }}" class="circle responsive-img">
            <h1 class="uk-article-title">Mike Jacobs</h1>
            <p class="uk-article-lead">
                 Mike's a programmer and IT specialist for a small business in New Hampshire, and works on open source projects when he's not camping or traveling.
            </p>
        </article>
        <article class="uk-article">
            <img src="{{ url('theme://images/bios/sri.png') }}" class="circle responsive-img">
            <h1 class="uk-article-title">Srinivas Nukala</h1>
            <p class="uk-article-lead">
                Srinivas's a web applications architect, with a passion for open source technologies. He is experienced in building SaaS (software as a service) web applications and enjoys working on open source projects and contributing to the community. He has a Masters in Computer Science from Pune University, India.
            </p>
        </article>
    </div>
</div>
{% endblock %}
