{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="joined">
    <div class="overlay-header">
        <div class="intro section">
            <div class="">
                <div class="row">
                    <div class="col s12">
                          <div class="carousel" id="main-carousel">
                            <a class="carousel-item" href="#one!"><img src="{{ url('theme://images/frontpage/activity.png') }}"></a>
                            <a class="carousel-item" href="#two!"><img src="{{ url('theme://images/features/adminlte.png') }}"></a>
                            <a class="carousel-item" href="#three!"><img src="{{ url('theme://images/features/dashboard-admin.png') }}"></a>
                            <a class="carousel-item" href="#four!"><img src="{{ url('theme://images/frontpage/login.png') }}"></a>
                            <a class="carousel-item" href="#five!"><img src="{{ url('theme://images/frontpage/permissions.png') }}"></a>
                          </div>
                    </div>
                </div>
                <h1 class="center-align">
                    Modern user management for php.
                </h1>
            </div>
        </div>
        <div class="frontpage section">
            <div class="container">  
                <div class="col s12 m6">
                        <p class="flow-text">
                            Chances are you're here because you have a great idea for a user-oriented website.
                            Whether it's a private forum for your WoW guild, an employee management system for your small business, <em> Userfrosting delivers</em>.
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="extendable section">
    <div class="container">
        <div class="row">
            <div class="col s4 offset-s4">
                <img src="{{ url('theme://images/laptop.svg') }}">
            </div>
        </div>
        <h3>
            A fully extendable PHP application.
        </h3> 
        <p class="flow-text">
            Get started on your project, without starting from "Hello World". With some basic configuration, you'll be ready to create and manage user accounts in 5 minutes or less. All you need is a web server running PHP 5.6 or greater and a SQL database.
        </p>
    </div>
</div>
<div class="features-developer section">
    <div class="row">
        <div class="col s12">    
            <ul class="tabs tabs-fixed-width">
                <li class="tab col s3"><a href="#developer">
                    <h5>
                        Developer features
                    </h5></a>
                </li>
                <li class="tab col s3"><a class="active" href="#user">
                    <h5>
                        User features
                    </h5></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div id="developer">
            <h4>
                write better code.
            </h4>
                
            <div class="row"><!-- Begin row--><!-- Begin feature sprinkles-->
                <div class="col s12 m4">
                    <div class="feature-img">
                        <img src="{{ url('theme://images/modular.svg') }}">
                    </div>
                    <h5>
                      Sprinkles
                    </h5>
                    <ul>
                      <li>
                          Incorporate, develop, and share modular themes and plugins
                      </li>
                    </ul>
                    <a href="https://learn.userfrosting.com/sprinkles" class="valign">Check out the documentation</a>
                </div><!-- End feature sprinkles-->
                <div class="col s12 m4 offset-m4"><!-- Begin feature error-->
                    <div class="feature-img2">
                        <img src="{{ url('theme://images/error.svg') }}">
                    </div>
                    <h5>
                       Error handler
                    </h5>
                    <ul>
                      <li>
                          Find the problem and work out the solution
                      </li>
                    </ul>
                    <a href="https://learn.userfrosting.com/sprinkles" class="valign">Check out the documentation</a>
                </div>
            </div><!-- End row-->
            <div class="row"><!-- Begin row--><!-- Begin feature asset-->
                <div class="col s12 m4 offset-m4">
                    <div class="feature-img2">
                         <img src="{{ url('theme://images/switch.svg') }}">
                    </div>
                    <h5>
                       Asset manager
                    </h5>
                    <ul>
                      <li>
                           Toggle between min and production versions at the flip of a switch
                      </li>
                    </ul>
                      <a href="https://learn.userfrosting.com/building-pages/assets">
                        Read more
                      </a>
                </div><!-- End feature asset-->
            </div><!-- End row-->
            <!--<div class="row">
                <div class="col s12 m4">
                    <div class="feature-img">
                        <img src="{{ url('theme://images/modular.svg') }}">
                    </div>
                    <h5>
                      Language support
                    </h5>
                    <ul>
                        <li>
                            Internationalization allows you to translate your pages into any language
                        </li>
                        <li>
                                Create a new language sprinkle, or use an existing one
                        </li>
                    </ul>
                    <a href=""https://learn.userfrosting.com/building-pages/i18n">
                        Read more
                    </a>
                </div>
                <div class="col s12 m4 offset-m4">
                    <div class="feature-img2">
                        <img src="{{ url('theme://images/error.svg') }}">
                    </div>
                    <h5>
                       MVC Controller
                    </h5>
                    <ul>
                      <li>
                           Powerful routing and request/response abstractions with Slim
                      </li>
                    </ul>
                    <a href="https://learn.userfrosting.com/routes-and-controllers/introduction">
                        Check out the documentation
                    </a>
                </div>
            </div>
                <div class="col s12 m4 offset-m4">
                    <div class="feature-img2">
                        <img src="{{ url('theme://images/diamond.svg') }}">
                    </div>
                    <h5>
                       Templating
                    </h5>
                    <ul>
                      <li>
                           Consistent, easy-to-use templating with Twig
                      </li>
                    </ul>
                      <a href="http://twig.sensiolabs.org/doc/2.x/api.html">
                        Read more on Twig's website
                      </a>
                </div><!-- End feature twig-->
            </div><!-- End row-->

        <div class="features-user" id="user">
            <h4 class="right-align">
                User management made easy.
            </h4>
            <img class=""src="{{ url('theme://images/features/login.png') }}" style="width: 500px;" data-caption="If enabled, users can register for new accounts automatically.">
            <h5>
              Login and registration
            </h5>
            <ul>
              <li>
                  Automatic registration option
              </li>
              <li>
                  Require CAPTCHA option
              </li>
              <li>
                  Send activation link via email
              </li>
              <li>
                  Self-service forgotten password reset tool
              </li>
            </ul>
        </div>  <!-- End user-->
    </div><!-- End container-->
    <div class="row center-align"><!-- Pagination-->
        <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>
</div><!-- End developer features section-->
<div class="better section">
    <div class="container">
        <h3>  
        Perfect PHP.
        </h3>
        <p class="flow-text">
             UserFrosting is meant for individuals who have some background in programming, but are not familiar with all of the modern tools available to make development in PHP faster, and to make your code better structured and easier to manage. By starting with UserFrosting, you will be comfortably introduced to Composer (the dependency manager), MVC, the front-controller pattern, and RESTful URLs.
        </p>
    </div>
</div>        
<div class="contributors section">
    <div class="container">
        <h3>
            Contributors
        </h3>
        <div class="row">
            <img src="{{ url('theme://images/bios/alex.png') }}" class="circle responsive-img">
                Alexander Weissman
            <p>
              Alex is the founder and co-owner of two companies, one that does math tutoring at IU in Bloomington, IN and another company that does math tutoring at UMD in College Park, MD. He is a PhD student in the School of Informatics and Computing at Indiana University.
            </p>
        </div>
            <div class="row">   
                <img src="{{ url('theme://images/bios/louis.png') }}" class="circle responsive-img">
                  Louis Charette
                <p>
                  Louis's a civil engineer who also has a passion for coding. He is one of the main contributors for SimpsonsCity.com and like to share is knowledge by helping other the same way he was helped when he first started coding.
                </p>
            </div>
            <div class="row">
                <img src="{{ url('theme://images/bios/jordan.png') }}" class="circle responsive-img">
                  Jordan Mele
                <p>
                    Jordan’s a developer at Mayvin Training and a student studying Computer Science at the University of Wollongong. His passion is creating software based solutions to overcomplicated problems, without taking control away from the user. He’s also Australian.
                </p>
            </div>
            <div class="row">
                <img src="{{ url('theme://images/bios/mike.png') }}" class="circle responsive-img">
                  Mike Jacobs
                <p>
                Mike's a programmer and IT specialist for a small business in NH, and works on open source projects when he's not camping or traveling.    
                </p>
            </div>
            <div class="row">
               <img src="{{ url('theme://images/bios/sri.png') }}" class="circle responsive-img">
                    Srinivas Nukala
                <p>
                Srinivas's a web applications architect, with a passion for open source technologies. He is experienced in building "as a service" web applications and enjoys working on open source projects and contributing to the community. He has a Masters in Computer Science from Pune University, India.    
                </p>
            </div>
    </div>
</div>
<div class="builtwith section">
    <div class="container">
        <h3>
            Built with Userfrosting
        </h3>
        <div class="row">
            <div class="col s6">
                <a href="http://artsho.ws/">
                    <div class="hover-img">
                    </div>
                </a>
                <img src="{{ url('theme://images/gallery/artsho.png') }}" class="img-responsive hc">
            </div>
            <div class="col s6">
                <a href="http://safetymessaging.net/">
                    <div class="hover-img">
                    </div>
                </a>
                <img src="{{ url('theme://images/gallery/safetymessaging.jpg') }}">
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <a href="https://bloomingtontutors.com/">
                    <div class="hover-img">
                    </div>
                </a>
                <img src="{{ url('theme://images/gallery/bloomingtontutors.jpg') }}">
            </div>
            <div class="col s6">
                <a href="https://collegeparktutors.com">
                    <div class="hover-img">
                    </div>
                </a>
                <img src="{{ url('theme://images/gallery/collegeparktutors.jpg') }}">
            </div>
        </div>
        <div class="row">           
            <div class="col s6">
                <a href="http://conjoint.online/">
                    <div class="hover-img">
                    </div>
                </a>
                <img src="{{ url('theme://images/gallery/conjointly.jpg') }}">
            </div>
            <div class="col m6 s6">
                <a href="https://quizevolved.com/">
                    <div class="hover-img">
                    </div>
                </a>
                <img src="{{ url('theme://images/gallery/quizevolved.jpg') }}">
            </div>
        </div>
    </div>
</div>
<div class="help section">
    <div class="container">
        <h3>
            Getting help with your project
        </h3>
        <h4 class="blue-text text-darken-2" style="margin-top: 2rem;">
            Using the documentation
        </h4>
        <ul>
            <li>
                If you're just getting started with UserFrosting and the code looks completely different from anything you've ever seen before, we recommend that you start with <a href="http://www.userfrosting.com/navigating/">Navigating UserFrosting</a>.  This will explain the components and practices that UserFrosting uses to do its magic.
            </li>
            <li>
                If you're having trouble with installation, please see our <a href="http://www.userfrosting.com/troubleshooting">troubleshooting guide</a>.
            </li>
            <li>
                If you feel comfortable with the basic concepts, and were able to install UserFrosting successfully, you can dive into the code with our <a href="http://www.userfrosting.com/tutorials">tutorials</a>.
            </li>
            <li>
                If you have a problem that you've already tried to solve and you can ask a specific, focused question, consider asking on <a href="http://stackoverflow.com">Stack Overflow</a>.  Include the relevant code, and any errors reported in your PHP error log and/or browser console.  Tag your question with the <code>userfrosting</code> tag, and optionally with any tags specific to the relevant underlying technologies, such as <code>slim</code>, <code>twig</code>, <code>eloquent</code>, <code>composer</code>, etc.  You should also mention the version of UserFrosting that you are using.
            </li>
            <li>
                After posting a question on Stack Overflow, please link to it our <a href="https://chat.userfrosting.com/channel/support">chat room</a>.  This will ensure that more people see it, and provide a place where we can discuss and help clarify your question.
            </li>
        </ul>
        <h4 class="blue-text text-darken-2" style="margin-top: 4rem;">
            Tips for asking for help
        </h4>
        <ul>
            <li>
                Remember that courtesy and proper grammar go a long way. Please take the time to craft a <strong>precise, polite question</strong>. We will do our best to help, but remember that this is an open source project - none of us are getting paid a salary to develop this project, or act as your personal support hotline ;-)
            </li>
            <li>
                Carefully search <a href="http://stackoverflow.com/tags/userfrosting">Stack Overflow</a>, the <a href="https://github.com/userfrosting/UserFrosting/issues?utf8=%E2%9C%93&q=is%3Aissue">Github issue tracker</a>, and the <a href="https://github.com/userfrosting/UserFrosting/wiki">wiki</a>.  Your question may have already been asked and answered before!
            </li>
            <li>
                Report any error messages you get. There are two main places where you may find error messages:
                <ul>
                    <li>
                        Backend (PHP-related) errors: in your PHP error log. This is usually a file called <code>php_error_log</code> or something like that. In XAMPP, the default location of this file is <code>XAMPP/xamppfiles/logs/</code>. For other web hosting platforms, please consult the documentation or do a quick Google search (i.e. "where is the php error log in _____"). Some web hosts may provide a special interface for accessing the php error log, through ssh, cpanel, etc. Please ask them directly for help with this.
                    </li>
                    <li>
                        Frontend (Javascript-related) errors: in your browser's Javascript console. This can be accessed from "Tools->Web Developer" menu in Firefox, or "More tools->Javascript Console" in Chrome. For help with other browsers, please Google "where is the javascript console in ____".
                    </li>
                </ul>
            </li>
            <li>
                If you find a problem in any of the tutorials, let us know on the Issues page. Also, please feel free to contribute to the <a href="https://github.com/userfrosting/UserFrosting/wiki">wiki</a> if you have something relevant and useful to add.
            </li>
        </ul>     
    </div>
</div>
{% endblock %}
