{% extends 'partials/base.html.twig' %}

{% block content %}

    <div class="intro">
        <div class="center-align" style="padding-top: 50px; padding-bottom: 25px;">
            <img src="{{ url('theme://images/frontpage/laptop1.png') }}" class="responsive-img" style="max-height: 300px">
        </div>
        <h1 class="center-align">
            Modern user management for php.
        </h1>
        <div class="center-align" style="padding-top: 50px;">
            <a class="waves-effect waves-light btn" style="margin-right: 25px">Install</a>
            <a class="waves-effect waves-light btn" style="margin-right: 25px">Demo</a>
            <a class="waves-effect waves-light btn">Github</a>
        </div>
    </div>
    <div class="frontpage">
        <div class="container">
            <div class="col s12 m6">
                    <p class="flow-text">
                        Chances are you're here because you have a great idea for a user-oriented website.
                        Whether it's a private forum for your WoW guild, an employee management system for your small business, <em> Userfrosting delivers</em>.
                    </p>
            </div>
        </div>
    </div>
<div class="extendable section">
    <div class="container">
        <h3>
            A fully extendable PHP application.
        </h3> 
        <p class="flow-text">
            Get started on your project, without starting from "Hello World". With some basic configuration, you'll be ready to create and manage user accounts in 5 minutes or less. All you need is a web server running PHP 5.6 or greater and a SQL database.
        </p>
    </div>
</div>
<div class="better section">
    <div class="container">
        <h3>  
        Perfect PHP.
        </h3>
        <p class="flow-text">
             UserFrosting is meant for individuals who have some background in programming, but are not familiar with all of the modern tools available to make development in PHP faster, and to make your code better structured and easier to manage. By starting with UserFrosting, you will be comfortably introduced to Composer (the dependency manager), MVC, the front-controller pattern, and RESTful URLs.
        </p>
    </div>
</div>  
<div class="features section">
        <h3 style="margin-bottom: 75px;" class="center-align">
            Features
        </h3>
        <div class="row"><!-- Begin row-->
                <div class="col s12 m4 center-align dev"><!-- Begin feature install-->
                    <img src="{{ url('theme://images/features/wrench.svg') }}">
                    <h5>
                      Easy Installation 
                    </h5>
                    <h6>
                        Batteries included
                    </h6>
                    <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    </p>
                </div><!-- End feature Installation-->
                <div class="col s12 m4 center-align user"><!-- Begin feature sign in-->
                    <img src="{{ url('theme://images/features/login.png') }}">
                    <h5>
                      Sign-in System
                    </h5>
                    <h6>
                        Ready out of the box
                    </h6>
                    <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    </p>
                </div><!-- End feature sign-in-->
                <div class="col s12 m4 center-align dev"><!-- Begin feature Extendable-->
                        <img src="{{ url('theme://images/features/modular.svg') }}">
                        <h5>
                          Fully extendable
                        </h5>
                        <h6>
                            Modular design (Sprinkles)
                        </h6>
                        <p class="text-flow">
                            Incorporate, develop, and share modular themes and plugins.
                        </p>
                </div><!-- End featuer extendable-->
        </div><!-- End row-->         
        <div class="row"><!-- Begin row-->
                <div class="col s12 m4 center-align user"><!-- Begin feature sign in-->
                    <img src="{{ url('theme://images/features/login.png') }}">
                    <h5>
                      Admin user management
                    </h5>
                    <h6>
                        Lorem ipsum dolor
                    </h6>
                    <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    </p>
                </div><!-- End feature sign-in-->
                <div class="col s12 m4 center-align dev"><!-- Begin feature separation-->
                        <img src="{{ url('theme://images/features/modular.svg') }}">
                        <h5>
                          Separation of concerns
                        </h5>
                        <h6>
                            Lorem ipsum dolor
                        </h6>
                        <p class="text-flow">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                </div><!-- End feature separation-->
                <div class="col s12 m4 center-align user"><!-- Begin feature separation-->
                        <img src="{{ url('theme://images/features/users.png') }}">
                        <h5>
                          Roles and permissions
                        </h5>
                        <h6>
                            Lorem ipsum dolor
                        </h6>
                        <p class="text-flow">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                </div><!-- End feature roles and permissions-->
        </div><!-- End row-->
        <div class="row"><!-- Begin row-->
                <div class="col s12 m4 center-align dev"><!-- Begin feature install-->
                    <img src="{{ url('theme://images/features/wrench.png') }}">
                    <h5>
                      Optimization
                    </h5>
                    <h6>
                        Batteries included
                    </h6>
                    <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    </p>
                </div><!-- End feature Installation-->
                <div class="col s12 m4 center-align user"><!-- Begin feature dashboard-->
                    <img src="{{ url('theme://images/features/login.png') }}">
                    <h5>
                      User dashboards
                    </h5>
                    <h6>
                        Admin LTE Theme
                    </h6>
                    <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    </p>
                </div><!-- End feature dashboard-->
                <div class="col s12 m4 center-align dev"><!-- Begin feature separation-->
                        <img src="{{ url('theme://images/features/modular.svg') }}">
                        <h5>
                          Documentation
                        </h5>
                        <h6>
                            Lorem ipsum dolor
                        </h6>
                        <p class="text-flow">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                </div><!-- End featuer separation-->
        </div><!-- End row-->
</div><!-- End features section-->
      
<div class="contributors section">
    <div class="container">
        <h3>
            Contributors
        </h3>
        <div class="row">
            <img src="{{ url('theme://images/bios/alex.png') }}" class="circle responsive-img">
                Alexander Weissman
            <p>
              Alex is the founder and co-owner of two companies, one that does math tutoring at IU in Bloomington, IN and another company that does math tutoring at UMD in College Park, MD. He is a PhD student in the School of Informatics and Computing at Indiana University.
            </p>
        </div>
            <div class="row">   
                <img src="{{ url('theme://images/bios/louis.png') }}" class="circle responsive-img">
                  Louis Charette
                <p>
                  Louis's a civil engineer who also has a passion for coding. He is one of the main contributors for SimpsonsCity.com and like to share is knowledge by helping other the same way he was helped when he first started coding.
                </p>
            </div>
            <div class="row">
                <img src="{{ url('theme://images/bios/jordan.png') }}" class="circle responsive-img">
                  Jordan Mele
                <p>
                    Jordan’s a developer at Mayvin Training and a student studying Computer Science at the University of Wollongong. His passion is creating software based solutions to overcomplicated problems, without taking control away from the user. He’s also Australian.
                </p>
            </div>
            <div class="row">
                <img src="{{ url('theme://images/bios/mike.png') }}" class="circle responsive-img">
                  Mike Jacobs
                <p>
                Mike's a programmer and IT specialist for a small business in NH, and works on open source projects when he's not camping or traveling.    
                </p>
            </div>
            <div class="row">
               <img src="{{ url('theme://images/bios/sri.png') }}" class="circle responsive-img">
                    Srinivas Nukala
                <p>
                Srinivas's a web applications architect, with a passion for open source technologies. He is experienced in building "as a service" web applications and enjoys working on open source projects and contributing to the community. He has a Masters in Computer Science from Pune University, India.    
                </p>
            </div>
    </div>
</div>
<div class="builtwith section">
    <div class="container">
        <h3>
            Built with Userfrosting
        </h3>
        <div class="row">
            <div class="col s6">
                <a href="http://artsho.ws/">
                    <div class="hover-img">
                    </div>
                </a>
                <img src="{{ url('theme://images/gallery/artsho.png') }}" class="img-responsive hc">
            </div>
            <div class="col s6">
                <a href="http://safetymessaging.net/">
                    <div class="hover-img">
                    </div>
                </a>
                <img src="{{ url('theme://images/gallery/safetymessaging.jpg') }}">
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <a href="https://bloomingtontutors.com/">
                    <div class="hover-img">
                    </div>
                </a>
                <img src="{{ url('theme://images/gallery/bloomingtontutors.jpg') }}">
            </div>
            <div class="col s6">
                <a href="https://collegeparktutors.com">
                    <div class="hover-img">
                    </div>
                </a>
                <img src="{{ url('theme://images/gallery/collegeparktutors.jpg') }}">
            </div>
        </div>
        <div class="row">           
            <div class="col s6">
                <a href="http://conjoint.online/">
                    <div class="hover-img">
                    </div>
                </a>
                <img src="{{ url('theme://images/gallery/conjointly.jpg') }}">
            </div>
            <div class="col m6 s6">
                <a href="https://quizevolved.com/">
                    <div class="hover-img">
                    </div>
                </a>
                <img src="{{ url('theme://images/gallery/quizevolved.jpg') }}">
            </div>
        </div>
    </div>
</div>
<div class="help section">
    <div class="container">
        <h3>
            Getting help with your project
        </h3>
        <h4 class="blue-text text-darken-2" style="margin-top: 2rem;">
            Using the documentation
        </h4>
        <ul>
            <li>
                If you're just getting started with UserFrosting and the code looks completely different from anything you've ever seen before, we recommend that you start with <a href="http://www.userfrosting.com/navigating/">Navigating UserFrosting</a>.  This will explain the components and practices that UserFrosting uses to do its magic.
            </li>
            <li>
                If you're having trouble with installation, please see our <a href="http://www.userfrosting.com/troubleshooting">troubleshooting guide</a>.
            </li>
            <li>
                If you feel comfortable with the basic concepts, and were able to install UserFrosting successfully, you can dive into the code with our <a href="http://www.userfrosting.com/tutorials">tutorials</a>.
            </li>
            <li>
                If you have a problem that you've already tried to solve and you can ask a specific, focused question, consider asking on <a href="http://stackoverflow.com">Stack Overflow</a>.  Include the relevant code, and any errors reported in your PHP error log and/or browser console.  Tag your question with the <code>userfrosting</code> tag, and optionally with any tags specific to the relevant underlying technologies, such as <code>slim</code>, <code>twig</code>, <code>eloquent</code>, <code>composer</code>, etc.  You should also mention the version of UserFrosting that you are using.
            </li>
            <li>
                After posting a question on Stack Overflow, please link to it our <a href="https://chat.userfrosting.com/channel/support">chat room</a>.  This will ensure that more people see it, and provide a place where we can discuss and help clarify your question.
            </li>
        </ul>
        <h4 class="blue-text text-darken-2" style="margin-top: 4rem;">
            Tips for asking for help
        </h4>
        <ul>
            <li>
                Remember that courtesy and proper grammar go a long way. Please take the time to craft a <strong>precise, polite question</strong>. We will do our best to help, but remember that this is an open source project - none of us are getting paid a salary to develop this project, or act as your personal support hotline ;-)
            </li>
            <li>
                Carefully search <a href="http://stackoverflow.com/tags/userfrosting">Stack Overflow</a>, the <a href="https://github.com/userfrosting/UserFrosting/issues?utf8=%E2%9C%93&q=is%3Aissue">Github issue tracker</a>, and the <a href="https://github.com/userfrosting/UserFrosting/wiki">wiki</a>.  Your question may have already been asked and answered before!
            </li>
            <li>
                Report any error messages you get. There are two main places where you may find error messages:
                <ul>
                    <li>
                        Backend (PHP-related) errors: in your PHP error log. This is usually a file called <code>php_error_log</code> or something like that. In XAMPP, the default location of this file is <code>XAMPP/xamppfiles/logs/</code>. For other web hosting platforms, please consult the documentation or do a quick Google search (i.e. "where is the php error log in _____"). Some web hosts may provide a special interface for accessing the php error log, through ssh, cpanel, etc. Please ask them directly for help with this.
                    </li>
                    <li>
                        Frontend (Javascript-related) errors: in your browser's Javascript console. This can be accessed from "Tools->Web Developer" menu in Firefox, or "More tools->Javascript Console" in Chrome. For help with other browsers, please Google "where is the javascript console in ____".
                    </li>
                </ul>
            </li>
            <li>
                If you find a problem in any of the tutorials, let us know on the Issues page. Also, please feel free to contribute to the <a href="https://github.com/userfrosting/UserFrosting/wiki">wiki</a> if you have something relevant and useful to add.
            </li>
        </ul>     
    </div>
</div>
{% endblock %}
