{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="intro">
    <div class="container container-heading">
        <h1 class="center-align">
            USERFROSTING
        </h1>
        <h2  class="center-align">
            MODERN USER MANAGEMENT FOR PHP
        </h2>
    </div>
</div>
<div class="frontpage section z-depth-1">
    <div class="container">
        <h3>
            
            Userfrosting delivers.
        </h3>
        <p class="flow-text">
            Chances are you're here because you have a great idea for a user-oriented website.
            Whether it's a private forum for your WoW guild, an employee management system for your small business, or the next big social network, we're guessing you want to get started on your awesome new idea as quickly as possible. You most certainly do not want to spend your time writing code to manage user authentication and authorization.
        </p>
        <h3>
            
            A fully extendable PHP application.
        </h3> 
        <p class="flow-text">
            Get started on your project, without starting from "Hello World". With some basic configuration and an easy-to-use installer, you'll be ready to create and manage user accounts in 5 minutes or less. All you need is a web server running PHP 5.4 or greater, and a SQL database.
        </p>
        <h3>
            
            A PHP learning tool.
        </h3>
        <p class="flow-text">
             Who is UserFrosting meant for?
             UserFrosting is meant for individuals who have some background in programming, but are not familiar with all of the modern tools available to make development in PHP faster, and to make your code better structured and easier to manage. By starting with UserFrosting, you will be comfortably introduced to Composer (the dependency manager), MVC, the front-controller pattern, and RESTful URLs.
             
             Who uses UserFrosting?
             All sorts of people! Check out our gallery of sites that are built on UserFrosting.
        </p>
    </div>
</div>
<div class="features section">
    <div class="container">
        <h3>
            User features
        </h3>
        <div class="row">
            <div class="col s6 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{{ url('theme://images/sample-1.jpg') }}">
                  <span class="card-title">User login</span>
                </div>
                <div class="card-content">
                  <p class="">
                    If enabled, users can register for new accounts automatically. Enable/disable CAPTCHA to create an account. You can also require that users activate their accounts via an emailed activation link. Users can reset their passwords by authenticating via an emailed password reset link.
                  </p>
                </div>
              </div>
            </div>
            <div class="col s6 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{{ url('theme://images/sample-1.jpg') }}">
                  <span class="card-title">Dashboard</span>
                </div>
                <div class="card-content">
                  <p class="">
                    A placeholder for giving users access to various features and functions on your site. UserFrosting comes with Morris charts and the Tablesorter dynamic tables plugin preinstalled.
                  </p>
                </div>
              </div>
            </div>
            <div class="col s6 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{{ url('theme://images/sample-1.jpg') }}">
                  <span class="card-title">Custom permissions and groups</span>
                </div>
                <div class="card-content">
                  <p class="">
                    Create/edit/delete groups, and define fine-grained authorization rules for members of each group. Users can belong to multiple groups, allowing for versatile manipulation of user permissions.
                  </p>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m4">
                <div class="card">
                    <div class="card-image">
                      <img src="{{ url('theme://images/sample-1.jpg') }}">
                      <span class="card-title">Managae users</span>
                    </div>
                    <div class="card-content">
                      <p class="">
                        Allow users to change their display name, locale & language, password, and more. Easily control which fields users can view/edit via authorization hooks.
                        Administrators can manually create new user accounts, change group assignments and access permissions, enable/disable, activate, and delete user accounts from the Users panel.
                      </p>
                    </div>
                </div>
            </div>
            <div class="col s6 m4">
                <div class="card">
                    <div class="card-image">
                      <img src="{{ url('theme://images/sample-1.jpg') }}">
                      <span class="card-title">Site Settings</span>
                    </div>
                    <div class="card-content">
                      <p class="">
                        Simple interface for the root user (and other administrators, if desired) to change the site title and administrative email, configure user registration and activation settings, and change sitewide default settings. Displays server configuration information and provides access to the PHP error log.
                      </p>
                    </div>
                </div>
            </div>
            <div class="col s6 m4">
                <div class="card">
                    <div class="card-image">
                      <img src="{{ url('theme://images/sample-1.jpg') }}">
                      <span class="card-title">Other things</span>
                    </div>
                    <div class="card-content">
                      <p class="">
                            Lorem ipsum.
                      </p>
                    </div>
                </div>
            </div>
        </div>
        <h3>
            Developer features
        </h3>
        <div class="row">
            <div class="col s6 m4">
              <div class="card">
                <div class="card-image">
                  <img src="images/sample-1.jpg">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
            <div class="col s6 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{{ url('theme://images/sample-1.png') }}">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
            <div class="col s6 m4">
              <div class="card">
                <div class="card-image">
                  <img src="images/sample-1.jpg">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="contributors section">
    <div class="container">
        <h3>
            Contributors
        </h3>
        <p class="flow-text">
             Spicy jalapeno bacon ipsum dolor amet biltong aliquip venison shankle. Nostrud elit chicken, ut laboris pork chop rump beef pariatur exercitation spare ribs chuck reprehenderit flank. Ham consectetur irure biltong frankfurter excepteur occaecat ut enim officia sed sunt est cupim et. Nisi ut ground round andouille laborum veniam beef ribs in venison bresaola eu duis aute anim dolore. Nisi voluptate ullamco sed. Corned beef esse pancetta, non sed ullamco elit andouille labore eu tenderloin ribeye aute chicken.
        </p>
    </div>
</div>
<div class="builtwith section z-depth-3">
    <div class="container">
        <h3>
            Built with Userfrosting
        </h3>
        <div class="row">
            <div class="col s6">
                <div class="hover-img">
                </div>
                <a href="">
                    <img src="{{ url('theme://images/gallery/artsho.png') }}" class="img-responsive hc">
                </a>
            </div>
            <div class="col s6">
                <div class="hover-img">
                </div>
                <a href="">
                    <img src="{{ url('theme://images/gallery/conjoinly.jpg') }}">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="hover-img">
                </div>
                <a href="">
                    <img src="{{ url('theme://images/gallery/safetymessaging.png') }}">
                </a>
            </div>
            <div class="col s6">
                <div class="hover-img">
                </div>
                <a href="">
                    <img src="{{ url('theme://images/gallery/collegeparktutors.jpg') }}">
                </a>
            </div>
        </div>
        <div class="row">           
            <div class="col s6">
                <div class="hover-img">
                </div>
                <a href="">
                    <img src="{{ url('theme://images/gallery/bloomingtontutors.jpg') }}">
                </a>
            </div>
            <div class="col m6 s6">
                <div class="hover-img">
                </div>
                <a href="">
                    <img src="{{ url('theme://images/gallery/quizevolved.jpg') }}">
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
