{% extends 'partials/base.html.twig' %}

{% block content %}

    <div class="intro">
        <div class="center-align" style="padding-top: 50px; padding-bottom: 25px;">
            <img src="{{ url('theme://images/frontpage/laptop1.png') }}" class="responsive-img" style="max-height: 300px">
        </div>
        <h1 class="center-align">
            Modern user management for php.
        </h1>
        <div class="center-align" style="padding-top: 50px;">
            <a class="waves-effect waves-light btn" style="margin-right: 25px">Install</a>
            <a class="waves-effect waves-light btn" style="margin-right: 25px">Demo</a>
            <a class="waves-effect waves-light btn">Github</a>
        </div>
    </div>
    <div class="frontpage">
        <div class="container">
            <div class="col s12 m6">
                    <p class="flow-text">
                        Chances are you're here because you have a great idea for a user-oriented website.
                    </p>
                    <p class="flow-text">
                        Whether it's a private forum for your WoW guild, an employee management system for your small business, or the next big social network, you want to get started on your awesome new idea as quickly as possible.  You don't want to spend your time reinventing user sign-in and management features for the millionth time.  <em>Lucky for you - Userfrosting delivers all of this and more!</em>
                    </p>
            </div>
        </div>
    </div>
<div class="extendable section">
    <div class="container">
        <h3>
            A framework and an application.
        </h3> 
        <p class="flow-text">
            UserFrosting is a web framework.  Like other web frameworks, it offers a complete toolbox of programmatic components for building your application.
        </p>
        <p class="flow-text">
            Unlike other frameworks, <em> it's a fully-functioning user management application,</em> right out of the box.  And, its fully extendable so that you can easily create the custom features you need.
        </p>
    </div>
</div>
<div class="better section">
    <div class="container">
        <h3 class="red-text text-lighten-2">  
        Step up your game.
        </h3>
        <p class="flow-text">
            UserFrosting is designed to bring new and returning developers up to speed with the modern PHP community.  You'll be comfortably introduced to Composer (the dependency manager), object-oriented design patterns, and the PHP Standards Recommendations (PSR), making your code better structured and easier to manage.
        </p>
        <p class="flow-text">
            What's more, you'll learn how to use Node.js and Bower to cleanly manage client-side packages (Javascript and CSS).  Transform yourself from a code monkey into a software engineer.
        </p>
    </div>
</div>  
<div class="features section">
        <h2 style="margin-bottom: 75px;" class="center-align">
            Features
        </h2>
        <div class="row"><!-- Begin row-->
            <div class="col s12 m4 center-align dev"><!-- Begin feature install-->
                <i class="fa fa-cloud-download fa-5x" aria-hidden="true" style="padding-top: 85px;"></i>
                <h5>
                  Modern specs
                </h5>
                <h6>
                  Batteries included
                </h6>
                <p>
                90's fashion might be back in style, but 90's development practices are not.  Our detailed installation guide painlessly introduces you to the modern developer's toolkit.
                </p>
            </div><!-- End feature Installation-->
            <div class="col s12 m4 center-align user"><!-- Begin feature sign in-->
                <img src="{{ url('theme://images/features/login.png') }}">
                <h5>
                  Sign-in System
                </h5>
                <h6>
                  Ready out of the box
                </h6>
                <p>
                  Login and persistent sessions ("remember me") are already taken care of for you!
                </p>
            </div><!-- End feature sign-in-->
            <div class="col s12 m4 center-align dev"><!-- Begin feature Extendable-->
                <i class="fa fa-cubes fa-5x" aria-hidden="true" style="padding-top: 85px;"></i>
                <h5>
                  Fully extendable
                </h5>
                <h6>
                  Modular design
                </h6>
                <p class="text-flow">
                  New in version 4, the Sprinkle system lets you implement your application without ever modifying UF's core codebase.  Sprinkles can also be used to implement themes, plugins and more - see what our community has to offer!
                </p>
            </div><!-- End featuer extendable-->
        </div><!-- End row-->         
        <div class="row"><!-- Begin row-->
            <div class="col s12 m4 center-align user"><!-- Begin feature sign in-->
                <img src="{{ url('theme://images/features/permissions.png') }}">
                <h5>
                  Admin user management
                </h5>
                <h6>
                  Master of your domain.
                </h6>
                <p>
                  Built-in user management page lets you view, search, and sort your users, create new user accounts, and edit existing ones.  Also provides tools to disable or delete users, manage permissions, and issue password resets.
                </p>
            </div><!-- End feature sign-in-->
            <div class="col s12 m4 center-align dev"><!-- Begin feature separation-->
                <i class="fa fa-chain-broken fa-5x" aria-hidden="true" style="padding-top: 85px;"></i>
                <h5>
                  Separation of concerns
                </h5>
                <h6>
                  No spaghetti code in here!
                </h6>
                <p class="text-flow">
                  Give the gift of maintainability to your future self.
                </p>
            </div><!-- End feature separation-->
            <div class="col s12 m4 center-align user"><!-- Begin feature separation-->
                <img src="{{ url('theme://images/features/users.png') }}">
                <h5>
                  Roles and permissions
                </h5>
                <h6>
                  Fine-grained access control
                </h6>
                <p class="text-flow">
                  Powerful role-based access control (RBAC) allows you to define fine-grained, programmatic rules for user access, then manage those permissions through the role management page.
                </p>
            </div><!-- End feature roles and permissions-->
        </div><!-- End row-->
        <div class="row"><!-- Begin row-->
            <div class="col s12 m4 center-align dev last"><!-- Begin feature install-->
               <i class="fa fa-fast-forward fa-5x" aria-hidden="true" style="padding-top: 85px;"></i>
                <h5>
                  Optimization
                </h5>
                <h6>
                  Just about every component can be optimized for production.
                </h6>
                <p>
                  Define and compile asset bundles with Node.js, leverage caching for template rendering and route resolution, or use Laravel's caching service to cache arbitrary resources.  All of this is automatically supported by UF's core!
            </div><!-- End feature Installation-->
            <div class="col s12 m4 center-align user last"><!-- Begin feature dashboard-->
                <img src="{{ url('theme://images/features/adminlte.png') }}">
                <h5>
                  User dashboards
                </h5>
                <h6>
                  Beep boop
                </h6>
                <p>
                  Build beautiful dashboards for your users with the default AdminLTE theme.
                </p>
            </div><!-- End feature dashboard-->
            <div class="col s12 m4 center-align dev last"><!-- Begin feature separation-->
                <i class="fa fa-newspaper-o fa-5x" aria-hidden="true" style="padding-top: 85px;"></i>
                <h5>
                  Documentation
                </h5>
                <h6>
                  Get answers fast.
                </h6>
                <p class="text-flow">
                  Clear, jargon-free guides for every aspect of the framework.  More than just the "how" and "what" - we explain the "why", too.
                </p>
            </div><!-- End featuer separation-->
        </div><!-- End row-->
        <div class="center align" style="padding-top:50px; padding-bottom: 50px; background-color: #f9f9f9;">
            <h5><a class="btn-large">See our full list of features</a></h5>
        </div>
</div><!-- End features section-->
<div class="builtwith section">
    <div class="container">
        <h3 class="white-text center-align" style="padding-bottom: 50px;">
            Built with Userfrosting
        </h3>
        <div class="slick-slider">
            <div class="slide slide--has-caption slick-slide">
                <img src="{{ url('theme://images/gallery/artsho.png') }}" class="img-responsive hc">
                 <div class="slide__caption">
                    <a href="http://artsho.ws/">
                       Artsho.ws
                    </a>
                 </div>
            </div>
            <div class="slide slide--has-caption slick-slide">
                <img src="{{ url('theme://images/gallery/safetymessaging.jpg') }}">
                <div class="slide__caption">
                    <a href="http://safetymessaging.net/">
                        Safety Messaging
                    </a>  
                 </div>
            </div>
            <div class="slide slide--has-caption slick-slide">
                <img src="{{ url('theme://images/gallery/bloomingtontutors.jpg') }}">
                <div class="slide__caption">
                    <a href="https://bloomingtontutors.com/">
                        Bloomington Tutors
                    </a>
                </div>
            </div>
            <div class="slide slide--has-caption slick-slide">
                <img src="{{ url('theme://images/gallery/collegeparktutors.jpg') }}">
                <div class="slide__caption">
                    <a href="https://collegeparktutors.com">
                        College Park Tutors
                    </a>
                </div>
            </div>
            <div class="slide slide--has-caption slick-slide">      
                <img src="{{ url('theme://images/gallery/conjointly.jpg') }}">
                <div class="slide__caption">
                    <a href="http://conjoint.online/">
                        Link
                    </a>
                </div>
            </div>
            <div class="slide slide--has-caption slick-slide">
                <img src="{{ url('theme://images/gallery/quizevolved.jpg') }}">
                <div class="slide__caption">
                    <a href="https://quizevolved.com/">
                        Quiz Evolved
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>   
<div class="contributors section">
    <div class="container">
        <h2 style="padding-bottom: 25px;" class="center-align">
            Contributors
        </h2>
        <div class="row">
            <img src="{{ url('theme://images/bios/alex.png') }}" class="circle responsive-img">
                Alexander Weissman
            <p>
              Alex is the founder and co-owner of two companies, one that does math tutoring at IU in Bloomington, IN and another company that does math tutoring at UMD in College Park, MD. He is a PhD student in the School of Informatics and Computing at Indiana University.
            </p>
        </div>
            <div class="row">   
                <img src="{{ url('theme://images/bios/louis.png') }}" class="circle responsive-img">
                  Louis Charette
                <p>
                  Louis's a civil engineer who also has a passion for coding. He is one of the main contributors for SimpsonsCity.com and like to share is knowledge by helping other the same way he was helped when he first started coding.
                </p>
            </div>
            <div class="row">
                <img src="{{ url('theme://images/bios/jordan.png') }}" class="circle responsive-img">
                  Jordan Mele
                <p>
                    Jordan’s a developer at Mayvin Training and a student studying Computer Science at the University of Wollongong. His passion is creating software based solutions to overcomplicated problems, without taking control away from the user. He’s also Australian.
                </p>
            </div>
            <div class="row">
                <img src="{{ url('theme://images/bios/mike.png') }}" class="circle responsive-img">
                  Mike Jacobs
                <p>
                Mike's a programmer and IT specialist for a small business in NH, and works on open source projects when he's not camping or traveling.    
                </p>
            </div>
            <div class="row">
               <img src="{{ url('theme://images/bios/sri.png') }}" class="circle responsive-img">
                    Srinivas Nukala
                <p>
                Srinivas's a web applications architect, with a passion for open source technologies. He is experienced in building "as a service" web applications and enjoys working on open source projects and contributing to the community. He has a Masters in Computer Science from Pune University, India.    
                </p>
            </div>
    </div>
</div>

{% endblock %}
