<div class="contributors section">
    <h3>
        Contributors
    </h3>
    <article class="uk-article">
        <img src="{{ url('theme://images/bios/alex.png') }}" class="circle responsive-img">
        <h1 class="uk-article-title">Alexander Weissman</h1>
        <p class="uk-article-lead">
            Alex is the founder and co-owner of two companies, one that does <a href="https://bloomingtontutors.com" target="_about:blank">math tutoring at Indiana University</a> in Bloomington, IN and another company that does <a href="https://collegeparktutors.com" target="_about:blank">math tutoring at UMD</a> in College Park, MD. He is a PhD student in the School of Informatics and Computing at Indiana University.
        </p>
    </article>
    <article class="uk-article">
        <img src="{{ url('theme://images/bios/louis.png') }}" class="circle responsive-img">
        <h1 class="uk-article-title">Louis Charette</h1>
        <p class="uk-article-lead">
             Louis is a civil engineer in Montréal, Québec who also has a passion for coding. He is one of the main contributors for SimpsonsCity.com and likes to share is knowledge by helping others the same way he was helped when he first started coding.
        </p>
    </article>
    <article class="uk-article">
        <img src="{{ url('theme://images/bios/jordan.png') }}" class="circle responsive-img">
        <h1 class="uk-article-title">Jordan Mele</h1>
        <p class="uk-article-lead">
             Jordan's a developer at Mayvin Training and a student studying Computer Science at the University of Wollongong. His passion is creating software-based solutions to overcomplicated problems, without taking control away from the user. He's also Australian.
        </p>
    </article>
    <article class="uk-article">
        <img src="{{ url('theme://images/bios/mike.png') }}" class="circle responsive-img">
        <h1 class="uk-article-title">Mike Jacobs</h1>
        <p class="uk-article-lead">
             Mike's a programmer and IT specialist for a small business in New Hampshire, and works on open source projects when he's not camping or traveling.
        </p>
    </article>
    <article class="uk-article">
        <img src="{{ url('theme://images/bios/sri.png') }}" class="circle responsive-img">
        <h1 class="uk-article-title">Srinivas Nukala</h1>
        <p class="uk-article-lead">
            Srinivas's a web applications architect, with a passion for open source technologies. He is experienced in building SaaS (software as a service) web applications and enjoys working on open source projects and contributing to the community. He has a Masters in Computer Science from Pune University, India.
        </p>
    </article>
</div>
