{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>Userfrosting | {{page.title}}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for meta in page.metadata %}
    <meta {% if meta.name %}name="{{ meta.name }}" {% endif %}{% if meta.http_equiv %}http-equiv="{{ meta.http_equiv }}" {% endif %}{% if meta.charset %}charset="{{ meta.charset }}" {% endif %}{% if meta.property %}property="{{ meta.property }}" {% endif %}{% if meta.content %}content="{{ meta.content }}" {% endif %}/>
    {% endfor %}
    <link rel="icon" href="{{ url('theme://images/favicon/favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:200,400" rel="stylesheet">
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://fonts.googleapis.com/icon?family=Material+Icons', 101) %}
        {% do assets.addCss('theme://css/uikit.min.css', 100) %}
        {% do assets.addCss('theme://css/materialize.css', 100) %}
        {% do assets.addCss('theme://css/slick.css', 100) %}
        {% do assets.addCss('theme://css/slick-theme.css', 100) %}
        {% do assets.addCss('theme://css/skolar-sans-latin.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}
        {% do assets.addCss('theme://css/features.css', 97) %}
    {% endblock %}
    {{ assets.css() }}

    {% block analytics %}
        {% if theme_config.google_analytics_code %}
            {% include 'partials/analytics.html.twig' %}
        {% endif %}
    {% endblock %}
{% endblock head %}
</head>

<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <div class="header">
        {% block header_navigation %}
        <nav class="main-nav">
            {% include 'partials/navigation.html.twig' %}
        </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block body %}
    <section id="body">
        <div class="container">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
     {% include 'partials/footer.html.twig' %}
{% endblock %}

{% block bottom %}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://js/uikit-icons.min.js', 98) %}
        {% do assets.addJs('theme://js/uikit.min.js', 98) %}
        {% do assets.addJs('theme://js/slick.js', 98) %}
        {% do assets.addJs('theme://js/materialize.js', 99) %}
        {% do assets.addJs('theme://js/custom.js', 96) %}
        {% do assets.addJs('theme://js/match.js', 97) %}
    {% endblock %}
    {{ assets.js() }}

    {% include 'partials/rocket.html.twig' %}

    {{ assets.js('bottom') }}
{% endblock %}

</body>
