<div class="slick-slider">
    <div class="slide slide--has-caption slick-slide">
        <img src="{{ url('theme://images/gallery/do-hack.jpg') }}" class="img-responsive hc">
         <div class="slide__caption">
            <a href="https://portal.dohack.io/account/sign-in">
               DO Hack - Dortmund University's First Student Hackathon
            </a>
         </div>
    </div>
    <div class="slide slide--has-caption slick-slide">
        <img src="{{ url('theme://images/gallery/bloomingtontutors.png') }}">
        <div class="slide__caption">
            <a href="https://bloomingtontutors.com/">
                Bloomington Tutors
            </a>
        </div>
    </div>
    <div class="slide slide--has-caption slick-slide">
        <img src="{{ url('theme://images/gallery/collegeparktutors.jpg') }}">
        <div class="slide__caption">
            <a href="https://collegeparktutors.com">
                College Park Tutors
            </a>
        </div>
    </div>
    <div class="slide slide--has-caption slick-slide">
        <img src="{{ url('theme://images/gallery/noteswithcode.png') }}" class="img-responsive hc">
         <div class="slide__caption">
            <a href="https://noteswithcode.com/">
               Notes with Code
            </a>
         </div>
    </div>
    <div class="slide slide--has-caption slick-slide">
        <img src="{{ url('theme://images/gallery/conjointly.jpg') }}">
        <div class="slide__caption">
            <a href="http://conjoint.online/">
                Conjoint.ly
            </a>
        </div>
    </div>
    <div class="slide slide--has-caption slick-slide">
        <img src="{{ url('theme://images/gallery/safetymessaging.jpg') }}">
        <div class="slide__caption">
            <a href="http://safetymessaging.net/">
                Safety Messaging
            </a>
         </div>
    </div>
    <div class="slide slide--has-caption slick-slide">
        <img src="{{ url('theme://images/gallery/quizevolved.jpg') }}">
        <div class="slide__caption">
            <a href="https://quizevolved.com/">
                Quiz Evolved
            </a>
        </div>
    </div>
    <div class="slide slide--has-caption slick-slide">
        <img src="{{ url('theme://images/gallery/artsho.png') }}" class="img-responsive hc">
         <div class="slide__caption">
            <a href="http://artsho.ws/">
               Artsho.ws
            </a>
         </div>
    </div>
</div>
